.info {
	display:block; 
	clear:both;
	border-bottom:1px dotted #ccc;
	margin-top:50px;
}

td {
	border-bottom: 1px solid #CCC;
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	padding: 0 0.5em;
	line-height:25px;
}
tr:hover {
	background: #FFFFCC;
}




/* tables */
table.tablesorter {
	/*font-family: Arial, Tahoma, Verdana, sans-serif;*/
	/*background-color: #CDCDCD;*/
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background:#FFFFCC; 
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	border:1px solid #BBBBBB; 
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	/*background-color: #FFF;*/
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #FFDDAA;
}

table.tablesorter tbody tr:hover td {
	background-color:#FFFAAA;
	cursor:default;
}